/* Iniciando meu primeiro arquivo CSS */

body {
    color: #444;
    background: #fff;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 650px;
    margin: auto;
    padding: 16px;
}

.profile {
    margin-top: 100px;
    margin-bottom: 56px;
}

.profile__header img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: block;
    margin: 0 auto 24px auto;
}

.profile__header h1, .profile__header h2 {
    margin: 0;
}

.profile__header h2 {
    font-weight: 400;
}

.profile__header, .profile__about {
    text-align: center;
}

.links ul {
    list-style: none;
    padding-inline-start: 0;
}

.links a {
    display: flex;
    height: 56px;
    border: solid 1px #444;
    border-radius: 35px;
    text-decoration: none;
    padding: 0 24px;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    font-weight: 600;
    color: #444;
    font-size: 18px;
}

.links a:hover {
    border-color: #fff;
    color: #fff;
    background-color: #8d5fe9;
}

.links__item {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .profile__about {
        font-size: 20px;
    }
}